* {
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-rows: 80px auto 1fr  auto;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "footer footer footer";
    grid-gap: 10px;
}
header {
    grid-area: header;
    background-color: #f8f9fa;
    padding: 1rem 10rem;
    border-bottom: 1px solid #eee;
    display: block;
}
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font: 1.2em sans-serif;
  display: flex;
}
.main-nav a {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.main-nav a:hover {
    color: #999;
}

.title-logo {
    font-weight: bold;
    font-size: 1.5em;
}

.push {
    margin-left: auto;
}
.category {
  position: relative;
}

.submenu-categorias {
    list-style: none;
    margin: 0;
    padding: 10px;
    font: 0.9em sans-serif;
    display: grid;
    grid-auto-flow: column;              
    grid-template-rows: repeat(3, auto); 
    gap: 10px;
    
    position: absolute; 
    top: 100%;
    left: 0;
    background: #f8f9fa;
    border-bottom: 1px solid #eee;
  

    max-height: 0;           
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.submenu-categorias a {
  padding: 0.5em 1em;
  display: block;
  text-decoration: none;
  color: black;
}
.submenu-categorias li:hover {
  color: #999;
}

.category:hover .submenu-categorias {
  max-height: 500px; /* suficiente para mostrar todo */
  opacity: 1;
}


/* MAIN */
.main {
  grid-area: main;
  margin: 5px auto;
  display: flex;
  gap: 40px;
}
.insert-section{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  text-align: center;
}

.main h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

/* Grupos de campos */
.form-group {
  display: flex;
  gap: 20px;
}
.option-texts {
  display: flex;
  flex-direction: column;
}
.option-number {
  margin: 20px 0;
}
.option-number input{
  width: 100px;
}

label {
  font-weight: bold;
  color: #444;
  margin-bottom: 6px;
}

/* Inputs, select y textarea */
input,
select,
textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  outline: none;
}

/* Botón */
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.totalPrice {
    padding: 0;
    margin: 0;
    font-size: 3pc;
    font-style: normal;
    align-items: center;
}

/* Vistas */
.list-section{
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-self: flex-start;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.entity-item {
    display: flex;
    gap: 15px;
}
.entity-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.key-data{
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.secondary-data{
  display: flex;
  gap: 5px;
  align-items: baseline;
}
.delete-btn {
    margin-left: auto;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
/*FOOTER*/
footer {
    grid-area: footer;
    background-color: #f3f3f3;
    padding: 10px 10px;
    font-family: sans-serif;
    background: #333;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color:white;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
  margin-top: 10px;
  font-weight: bold;
  max-width: 35pc;
}

.message.success { color: green; }
.message.error { color: red; }
