/* MAIN PRODUCTOS*/
.main-products {
  grid-area: main;
  margin: 5px auto;
  display: flex;
  gap: 40px;
}
.insert-section{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  text-align: center;
}

.main-products h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

/* Grupos de campos */
.form-group {
  display: flex;
  gap: 20px;
}
.option-texts {
  display: flex;
  flex-direction: column;
}
.option-number {
  margin: 20px 0;
}
.option-number input{
  width: 100px;
}

label {
  font-weight: bold;
  color: #444;
  margin-bottom: 6px;
}

/* Inputs, select y textarea */
input,
select,
textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  outline: none;
}

/* Botón */
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.totalPrice {
    padding: 0;
    margin: 0;
    font-size: 3pc;
    font-style: normal;
    align-items: center;
}

/* Vistas */
.list-section{
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-self: flex-start;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.entity-item {
    display: flex;
    gap: 15px;
}
.entity-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.key-data{
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.secondary-data{
  display: flex;
  gap: 5px;
  align-items: baseline;
}
.delete-btn {
    margin-left: auto;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}


.message {
  margin-top: 10px;
  font-weight: bold;
  max-width: 35pc;
}

.message.success { color: green; }
.message.error { color: red; }
